* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.container {
  text-align: center;
  padding: 20px;
  * {
    margin: 15px 0px;
  }
  input {
    display: block;
    padding-left: 10px;
    width: 100%;
    height: 5vh;
    font-size: 2.5vh;
  }
  button {
    border: 1px solid blue;
    border-radius: 4px;
    padding: 5px;
    background-color: aqua;
  }
  p {
    text-align: left;
  }
  span {
    color: red;
  }
}
