* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  h1 {
    margin-bottom: 20px;
  }
  input {
    height: 5vh;
    font-size: 2.5vh;
    padding-left: 10px;
  }
  button {
    padding: 5px;
    margin-top: 20px;
    height: 5.5vh;
    font-size: 2.5vh;
  }
}
